.page-background {
    background-color: #034e07;
    padding: 20px;
  }
  
  .news-container {
    margin-bottom: 20px;
  }
  
  .container {
    margin-top: 5%;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .news-item {
    margin-bottom: 20px;
  }
  
  .news-item h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  .news-item p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .image-slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .image-slider img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image-slider img {
    transition: border-color 0.3s ease;
  }
  
  .image-slider img.active {
    border: 2px solid #ffd000;
  }
  
  
  @media (max-width: 768px) {
    .news-item h2 {
      margin-bottom: 10px;
      font-size: 15px;
      color: #333;
    }
    .news-item p {
      margin-bottom: 10px;
      font-size: 10px;
      color: #666;
    }
  }
  